doctype html
html
  head
    title Password Reset
  body
    h1 Hi #{firstName},
    p Forgot your password? Reset it with the link below:
    a(href= url) Reset Your Password
    p If you didn't request this, ignore the email.
